<html>

<head>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
		crossorigin="anonymous"></script>
	<title>Dự đoán bệnh tim</title>
</head>

<body>
	<!-- CSS -->
	<style>
		*,
		*:before,
		*:after {
			padding: 0;
			margin: 0;
			box-sizing: border-box;
		}

		body {
			background-color: #080710;
		}

		.background {
			width: 430px;
			height: 520px;
			position: absolute;
			transform: translate(-50%, -50%);
			left: 50%;
			top: 50%;
		}

		.background .shape {
			height: 200px;
			width: 200px;
			position: absolute;
			border-radius: 50%;
		}

		.shape:first-child {
			background: linear-gradient(#1845ad,
					#23a2f6);
			left: -80px;
			top: -80px;
		}

		.shape:last-child {
			background: linear-gradient(to right,
					#ff512f,
					#f09819);
			right: -30px;
			bottom: -80px;
		}

		form {
			margin-top: 10%;
			background-color: rgba(255, 255, 255, 0.13);
			border-radius: 10px;
			backdrop-filter: blur(10px);
			border: 2px solid rgba(255, 255, 255, 0.1);
			box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
		}

		legend {
			margin-left: 34%;
		}

		.form-group {
			padding: 0 20px;
		}

		.form-control {
			background-color: rgba(255, 255, 255, 0.13);
			color: #ffffff;
		}

		.modal-backdrop {
			position: relative;
		}
	</style>
	<!-- Java Script -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
		crossorigin="anonymous"></script>


	<!-- Navbar-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<span class="navbar-brand mb-0 h1">Dự đoán bệnh tim</span>
	</nav>
	<div class="container">
		<!-- <div class="background">
			<div class="shape"></div>
			<div class="shape"></div>
		</div> -->
		<br>
		<!--Form-->
		<form action="{{url_for('predict')}}" method="POST">
			<fieldset>
				<legend class="text-light pt-2">Thông tin cần nhập để dự đoán bệnh tim </legend><br>
				<div class="text-light">
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="age">Tuổi</label>
							<input type="number" class="form-control" id="age" name="age" required>
						</div>
						<div class="col-sm-3">
							<label for="sex">Giới tính</label>
							<select class="form-control" id="sex" name="sex" required>
								<option disabled selected value> -- Lựa chọn -- </option>
								<option value="0">Nam</option>
								<option value="1">Nữ</option>
							</select>
						</div>
					</div>
					<br>
					<div class="form-group  row">
						<div class="col-sm">
							<label for="cp">Loại đau ngực</label>
							<select class="form-control" id="cp" name="cp" required>
								<option disabled selected value> --Lựa chọn-- </option>
								<option value="0">Đau thắt điển hình</option>
								<option value="1">Đau thắt không điển hình</option>
								<option value="2">Đau thắt ngực</option>
								<option value="3">Không có triệu chứng</option>
							</select>
						</div>
						<div class="col-sm">
							<label for="trestbps">Huyết áp (mm Hg)</label>
							<input type="number" class="form-control" id="trestbps" name="trestbps" required>
						</div>
						<div class="col-sm">
							<label for="chol">cholesterol mg/dl</label>
							<input type="number" class="form-control" id="chol" name="chol" required>
						</div>
						<div class="col-sm">
							<label for="fbs">Đường trong máu > 120 mg/dl</label>
							<select class="form-control" id="fbs" name="fbs" required>
								<option disabled selected value> -- Lựa chọn -- </option>
								<option value="0">Không</option>
								<option value="1">có</option>
							</select>
						</div>
					</div>

					<br>
					<div class="form-group row">
						<div class="col-sm">
							<label for="restecg">Đánh giá kết quả ECG</label>
							<select class="form-control" id="restecg" name="restecg" required>
								<option disabled selected value> -- Lựa chọn -- </option>
								<option value="0">Bình thường</option>
								<option value="1">ST-T thất thường </option>
								<!-- <option value="2">Probable or definite left ventricular hypertrophy</option> -->
							</select>
						</div>
						<div class="col-sm">
							<label for="thalach">Nhịp tim tối đa</label>
							<input type="number" class="form-control" id="thalach" name="thalach" required>
						</div>
						<div class="col-sm">
							<label for="exang">sự chênh lệch chỉ số ST</label>
							<input type="number" step="any" class="form-control" id="exang" name="exang" required>
						</div>
						<div class="col-sm">
							<label for="exang">Đau thắt ngực do hoạt động thể thao </label>
							<select class="form-control" id="oldpeak" name="oldpeak" required>
								<option disabled selected value> -- Lựa chọn -- </option>
								<option value="0">Không</option>
								<option value="1">Có</option>
							</select>
						</div>
					</div>
					<br>
					<div class="form-group  row">
						<div class="col-sm">
							<label for="slope">Biểu đồ ST Segment </label>
							<select class="form-control" id="slope" name="slope" required>
								<option disabled selected value> -- Lựa chọn -- </option>
								<option value="0">Đi lên</option>
								<option value="1">Bình thường</option>
								<option value="2">Đi xuống</option>
							</select>
						</div>
						<div class="col-sm">
							<label for="ca">Số lượng máu bởi Flourosopy</label>
							<select class="form-control" id="ca" name="ca" required>
								<option disabled selected value> -- Lựa chọn -- </option>
								<option value="0">0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
							</select>
						</div>
						<div class="col-sm">
							<label for="thal">Rối loạn máu</label>
							<select class="form-control" id="thal" name="thal" required>
								<option disabled selected value> -- Lựa chọn -- </option>
								<option value="3">Bình thường</option>
								<option value="6">Fixed defect</option>
								<option value="7">Reversable defect</option>
							</select>
						</div>
					</div>
					<br>
					<div class="form-group text-center">
						<input class="btn btn-primary w-100" type="submit" value="Result">
					</div>

					<!--Prediction Result-->
					<div class="text-center my-3" id="result">
						<strong style="color:green">{{result}}</strong>
					</div>

					<!-- Modal -->
					<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
						aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Kết quả</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</fieldset>
		</form>

	</div>

</body>

</html>